In [12]:
import pandas as pd
import numpy as np


uso_cpu = np.array([[20, 25, 40, 50, 45], 
                    [60, 55, 35, 70, 65],
                    [30, 35, 50, 60, 40], 
                    [55, 60, 45, 50, 55],
                    [15, 20, 30, 25, 35], 
                    [40, 45, 50, 55, 60],
                    [10, 15, 25, 35, 45],
                    [50, 55, 60, 65, 70],
                    [40, 45, 55, 65, 75], 
                    [80, 95, 60, 35, 70]])

colunas = ["us-east-1", "us-west-2", "eu-central-1", "sa-east-1", " ap-southeast-1"]
linhas = ["hora_1", "hora_2","hora_3","hora_4","hora_5","hora_6","hora_7","hora_8","hora_9","hora_10"]
df = pd.DataFrame(uso_cpu, index=linhas,columns = colunas)
df.head(10)

         us-east-1  us-west-2  eu-central-1  sa-east-1   ap-southeast-1
hora_1          20         25            40         50               45
hora_2          60         55            35         70               65
hora_3          30         35            50         60               40
hora_4          55         60            45         50               55
hora_5          15         20            30         25               35
hora_6          40         45            50         55               60
hora_7          10         15            25         35               45
hora_8          50         55            60         65               70
hora_9          40         45            55         65               75
hora_10         80         95            60         35               70